<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
              integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
              crossorigin="anonymous">
    </head>
    <body id="h_body">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Movie search page
                <i class="fas fa-video" id = "video"></i></h1>
            <p class="lead">Watching movies gives you to reason to think,
                imagine, guess and even visualize other’s perspective as yours.</p>
            <p class="lead">
            <form action="/movie" method="get">
                <input type="text" name ="search" placeholder="Enter Movie Name">
                <input type="submit" class="btn btn-info">
            </form>
            </p>
        </div>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>



    </div>


        </body>
    </html>





